:root {
  // --white: #f2f0ef;
  --white: #F2F0EF;
  --green: #4f5b37;
  --blue: #37505c;
  --yellow: #c29800;
  --purple: #5c3750;
  --black: #38373c;
  --grey-dark: #5a5a5a;
  --grey-med: #7a7a7a;
  --grey-light: #a5a5a5;

  --teal-darker: #293F49;

  // color-scheme: light dark;
  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  background-color: var(--white);
  overflow: auto;
}

#root {
  position: relative;
}

/* akshar-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/akshar-v17-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* akshar-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/akshar-v17-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* biz-udpgothic-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/biz-udpgothic-v16-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* biz-udpgothic-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/biz-udpgothic-v16-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}